[user]
  email = atom.powers@gmail.com
  name = Atom Powers
[push]
  default = current
[core]
  pager = less -r
[branch]
  autosetuprebase = always
[alias]
  ad = add -A
  br = checkout -b
  ci = commit --all -m
  cin = commit --all --no-verify -m
  co = checkout
  lg = log --name-status
  plum = pull upstream master --tags
  pu = push
  pun = push --no-verify --follow-tags
  rb = rebase master
  rbc = rebase --continue
  sq = rebase -i master
  st = status -s

